@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.recommendations {
    display: flex;
    flex-direction: column;
    padding-top: .5rem;
    gap: 4rem;
    line-height: 1.75;
    h1 {
        font-size: var(--text-heading-size);
        padding-bottom: .5rem;
    }
    p {
        font-size: var(--text-small-size);
        padding: 0 1.25em 0 1.25rem;
    }
    &__heading {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    &__platform {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        &--top {
            display: flex;
            flex-direction: row;
            padding-bottom: 1rem;
            p {
                @include card-label;
                line-height: 1;
                display: grid;
                place-items: center;
            }
        }
        &--img {
            max-height: 7rem;
            max-width: 7rem;
            margin: 0 30% 0 auto;
        }
        &--text {
            padding-bottom: 1rem;
        }
        &--name {
            font-weight: 600;
        }
        &--bottom {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &--button {
            @include button;
        }
    }
    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        &--button {
            @include button;
        }
    }
}