@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.grid {
  width: 100%;

  &__heading {
    @include subheading;
    padding-bottom: 1rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    &--single {
      padding: 0 2rem;
      grid-template-columns: 1fr;
    }
  }
}
