@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.grid {
  &__heading {
    @include subheading;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
