@use './variables' as *;

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin heading {
  font-size: var(--text-heading-size);
  font-weight: bold;
}

@mixin subheading {
  font-size: var(--text-subheading-size);
  font-weight: bold;
}

@mixin card-label {
  font-size: var(--text-card-label-size);
  font-weight: bold;
}

@mixin body-text {
  font-size: var(--text-body-size);
}