$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$PrimaryDark: #323232;
$PrimaryGrey: #AFAFAF;
$PrimaryBlue: #0095FF;
$PrimaryWhite: #FFFFFF;

$SecondaryBlack: #000000;
$SecondaryBlue: #0065AD;
$SecondaryGrey: #E1E1E1;
$SecondaryWhite: #FAFAFA;