@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.search {
    @include search-text;
    background-color: $color-highlight;
    width: 100%;
    outline: none;
    border: none;

    &::placeholder {
        color: $color-accent;
        opacity: 1;
        /* Firefox */
    }

    &::-ms-input-placeholder {
        /* Edge 12 -18 */
        color: $color-accent;
    }

    &__container {
        @include letter;
        display: flex;
        padding: 0.8125rem;
        border: 0.1875rem solid $color-accent-secondary;
        border-radius: 3.125rem;
        background-color: $color-highlight;
    }

    &__icon {
        margin-right: 1rem;
    }
}