@use "./styles/partials/reset";
@use "./styles/partials/fonts";
@use "./styles/partials/global";
@use "./styles/partials/variables" as *;

#root {
  min-height: 100svh;
  background: $color-main-gradient;
  padding: $site-padding $site-padding 8rem;
}
